APP_ENV_FILE=.env.example
BACKEND_IMAGE=ghcr.io/perna/podigger-django-backend:main
FRONTEND_IMAGE=ghcr.io/perna/podigger-nextjs-frontend:main

DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=False
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://podigger.perna.app
CSRF_TRUSTED_ORIGINS=https://podigger.perna.app

DATABASE_HOST=db-production
DATABASE_PORT=5432
DATABASE_NAME=podigger_production
DATABASE_USER=podigger_production
DATABASE_PASSWORD=replace-me
DB_PASSWORD_PRODUCTION=replace-me
DB_PASSWORD_STAGING=replace-me

REDIS_URL=redis://redis-production:6379/1
CELERY_BROKER_URL=redis://redis-production:6379/0
CELERY_RESULT_BACKEND=redis://redis-production:6379/0
